body {
  font-family: Lato, Arial, sans-serif;
}

.container {
  margin: 0px auto;
  width: 900px;
}

header {
  text-align: center;
}

#logo {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 150px;
  margin-top: 40px;
  margin-bottom: -30px;
}

.subtitle {
  font-size: 40px;
}

pre {
  text-align: left;
  margin: 0px auto;
  width: 700px;
  background-color: #eee;
  font-size: 16px;
  padding: 10px 30px;
}

/* Code formatting */
code .comment { color: #ddd }
code .init { color: #2F6FAD }
code .string { color: #5890AD }
code .keyword { color: #8A6343 }
code .number { color: #2F6FAD }
